img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.products-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.products-card {
  border: 1px dashed;
  text-align: center;
  padding: 10px;
}

.tracking-in-expand {
  position: absolute;
  left: 45%;
  top: 40%;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both
    infinite;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .products-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
  }
}
