#root {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 7px;
  width: 90%;
  margin: auto;
}
.main {
  border: 1px dashed;
  padding: 5px 10px;
}
.main > img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons{
    display: flex;
    gap: 8px;
}
.buttons > button{
    width: 100%;
    padding: 5px;
    cursor: pointer;
}
