.navbar-list{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
img{
    width: 100%;
}
.about{
    display: flex;
    gap: 10px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
}
.gallery > img {
    height: 150px;
}


