.blogcard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 90%;
  margin: 2rem auto;
  gap: 8px;
}
.blogcard-child > img{
    width: 100%;
}
.links{
  text-decoration: none;
  color: inherit;
}
.first-font::first-letter{
    font-size: 40px;
}
@media (max-width: 900px) {
  .blogcard {
    grid-template-columns: repeat(1, 1fr);
  }
}
