.calculator {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 10%;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  left: 30%;
  top: 30%;
}
.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2px;
}
.invisible {
  visibility: hidden;
}
input {
  padding: 10px;
  width: 86%;
  margin-bottom: 3px;
}
button {
  border: 0;
  padding: 5px;
  border-radius: 10px;
}
.clear {
  background-color: orangered;
  color: white;
}

@media (max-width: 786px) {
  .calculator {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 35%;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 30%;
    top: 30%;
  }
}
